*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
}
/* Utility Classes */
.nowrap{
    white-space: nowrap;
}
.offscreen{
    position: absolute;
    left: -1000px;
}
/* End Utility Classes */
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    background-color: aliceblue;

    background-image:linear-gradient(to left, steelblue, #fff);
}

.container{
    background-color: rgb(251,210,156);
    background-image: url('../lesson_image/img/maps.jpeg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}
.hero{
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    background-color: hsla(0, 0%, 100%, 0.35);

    
}
.h1{
    font-size: 400%;
    color: white;
    text-shadow: 2px 2px 5px black;
    /* 
    padding: 0.25rem;
    border-radius: 10px; */
}
.profile-pic-figure{
    width: 35%;

}
.profile-pic-figure img {
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}
.example{
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid #f00;
}
.example img {
    width: 25%;
    height: auto;
}
.clip{
    font-weight: 800;
    font-size: 12rem;
    text-align: center;
    background-image: url("../lesson_image/img/clouds.jpeg");
    background-size:100% ;
    text-transform: uppercase;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.198);
}