body{
    font-size: 1.5rem;
    font-family: sans-serif;
}
/* .block{
    width: 30vw;
    height: 30vw;
    background-color: black;
    color:#fff ;
    padding: 1rem;
}
.left{
    float: left;
    margin-right: 1rem;

}
.right{
    float: right;
    margin-left: 1rem;

}

p{
    margin-left:10px ;
}
.clear{
    clear: both;
}

section{
    background-color: bisque;
    border: 1px solid #333;
    padding: 1rem;
    overflow: auto;
} */
.columns{
    column-count: 4;
    column-width: 250px;
    column-rule: 3px solid #333;
    column-gap: 3rem;
}
.columns p{
    margin-top: 0;
}
.columns h2{
    margin-top: 0;
    background-color: #333;
    color: aliceblue ;
    padding: 1rem;
    break-inside: avoid;
    
}
.columns .quote{
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
    color: #333;
    column-span: all;
}
.nowrap{
   white-space: nowrap; 
}